.tts-container {
    @apply p-6 space-y-6;
}

.body-container {
    @apply bg-gray-50;
    font-size: 15px;
}

.controls-container {
    @apply space-y-6;
}

/* .section {
    @apply space-y-2  pt-2;
} */

.label {
    @apply block font-medium text-gray-700 mb-2;
}

.select {
    @apply w-full p-2 border rounded-md;
}

.base-button {
    @apply px-4 py-2 font-medium text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm hover:bg-gray-50;
    transition: background-color 0.1s ease-in-out;
}

.base-button:active {
    background-color: #e2e8f0;
}


.text-input {
    @apply w-full px-3 py-2 border rounded-md focus:ring-blue-500 focus:border-blue-500;
}

.checkbox-wrapper {
    @apply flex items-center space-x-2 pt-2;
}

.checkbox-input {
    @apply h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring-blue-500;
}

.checkbox-label {
    @apply text-gray-700;
}

.radio-group {
    @apply space-y-2;
}

.radio-wrapper {
    @apply flex items-center space-x-2;
}

.radio-input {
    @apply h-4 w-4 border-gray-300 text-blue-600 focus:ring-blue-500;
}

.radio-label {
    @apply text-gray-700  pr-4;
}

.dropdown-select {
    @apply w-full px-3 py-2 border rounded-md focus:ring-blue-500 focus:border-blue-500;
}

.slider-input {
    @apply w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer;
}



.input-field {
    @apply w-full px-3 py-2 border rounded-md;
}

/* .select-field {
    @apply w-full p-2 border rounded-md;
} */

/* .checkbox-wrapper {
    @apply flex items-center space-x-2;
  }
   */
/* .checkbox {
    @apply rounded;
} */

.textarea-field {
    @apply w-full p-2 border rounded-md;
}

.textarea-field.readonly {
    @apply bg-gray-50;
}

.textarea-field.expanded {
    @apply h-40;
}

.section {
    @apply space-y-2 mt-4 bg-gray-100 rounded-xl shadow-sm p-5  border border-gray-200;
}


.sub-section {
    @apply py-2;
}

.page-container {
    @apply pt-4 pb-4;
}

@media (max-width: 1024px) {
    .page-container {
        @apply pt-0 pb-24;
    }
}
